.contacto {
    display: flex;
    gap: 1.5rem;
    text-align: left;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 0.875rem;
    text-align: left;
}

.datos ul li {
    font-size: 0.8125rem;
    text-align: left;
    
    
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 5rem;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
    background: #ddd;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #999;
    font-size: 0.875rem;
    padding: 0.375rem 0.625rem;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    resize: none;
    height: 9.375rem;
}

.formulario input[type="submit"] {
    background-color: #00A94A;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1rem;
    padding: 0.375rem 1.25rem;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
    transition: all o, 5s ease;
}

.formulario input[type="submit"]:hover {
    background-color: #1F2C81;
}
